@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #1F2933;
  color: #F5F7FA;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 52px;
  text-align: center;
}

button {
  outline: none;
  background: linear-gradient(to bottom,  #2BB0ED, #1992D4);
  border: none;
  padding: 14px 52px;
  margin: 0 15px;
  font-size: 15px;
  border-radius: 9999px;
}

button:hover {
  background: linear-gradient(to bottom, #1992D4, #127FBF)
}

.flex-center{
  display: flex;
  justify-content: center;
}

.mt-2 {
  margin-top: 2em;
}

.lapTime {
  font-size: 25px;
}

.seperator {
  border-top: 4px solid #1992D4;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}