button {
    outline: none;
    border: none;
    padding: 9px 24px;
    border-radius: 9999px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.blue-button {
    background: linear-gradient(to bottom, #4098D7, #2680C2);
    color: #E0FCFF;
    box-shadow: 0px 3px 0px rgba(0,0,0, 0.3);
}

.blue-button:hover {
    background: linear-gradient(to bottom, #2680C2, #186FAF);
}

.red-button {
    background: linear-gradient(to bottom, #BA2525, #A61B1B);
    color: #E0FCFF;
    box-shadow: 0px 3px 0px rgba(0,0,0, 0.3);
}

.red-button:hover {
    background: linear-gradient(to bottom, #A61B1B, #911111);
}
