@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    padding: 14px 16px;
    margin-right: 15px;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 348px;
}

.img {
    max-width: 100%;
    height: 250px;
    border-radius: 25px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.mt-2 {
    margin-top: 10px;
}

button {
    background: linear-gradient(to bottom, #4098D7, #2680C2);
    color: #E0FCFF;
    box-shadow: 0px 3px 0px rgba(0,0,0, 0.3);
    outline: none;
    border: none;
    padding: 14px 52px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 9999px;
}

button:hover {
    background: linear-gradient(to bottom, #2680C2, #186FAF);
}

input {
    width: 100%;
    outline: none;
    padding: 7px 4px;
    transition: all 0.3s ease;
    border: none;
    border-bottom: 2px solid #62B0E8;
    margin-bottom: 35px;
}

input::placeholder {
    color: #829AB1;
}

label {
    margin-left: 3px;
    background-color: white;
    color: #486581;
}

input:focus {
    border-bottom: 2px solid  #2680C2;
    transition: all 0.3s ease;
}

.card {
    border-radius: 25px;
    background-color: #616E7C;
    color: #F5F7FA;
    padding: 15px;
    text-align: center;
}

.cardContainer {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
}


/* Container Styles */

@media (min-width: 576px){
    .container {
    max-width: 540px;
}}

@media (min-width: 768px){
    .container {
    max-width: 720px;
}}

@media (min-width: 992px){
    .container {
    max-width: 960px;
}}

@media (min-width: 1200px){
    .container {
    max-width: 1040px;
}}

@media (max-width: 576px) {
    .container {
        max-width: 90vw;
    }
}

.container {
    width: 100%;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
